<div class="page-body-wrapper full-page-wrapper auth-page">
  <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
    <div class="row w-100">
      <div class="col-lg-4 mx-auto">
        <h2 class="text-center text-white">Mony App</h2>
        <p class="text-center text-light mb-4">Controla tu flujo de dinero</p>
        <div class="auto-form-wrapper">
          <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
            <div class="form-group">
              <div class="input-group">
                <input type="email" formControlName="email" class="form-control" placeholder="Correo">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i *ngIf="isControlValid('email')" class="fa fa-check-circle"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input type="password" formControlName="password" class="form-control" placeholder="Contraseña">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i *ngIf="isControlValid('password')" class="fa fa-check-circle"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <button [disabled]="loginForm.invalid" type="submit" *ngIf="!isLoading; else loading"
                class="btn btn-primary submit-btn btn-block">Ingresar</button>
              <ng-template #loading>
                <button disabled type="button" class="btn btn-primary submit-btn btn-block"><i
                    class="fa fa-spinner fa-spin"></i>Espere</button>
              </ng-template>
            </div>

            <div class="text-block text-center my-3">
              <span class="text-small font-weight-semibold">No estas registrado? </span>
              <br>
              <a routerLink="/register" class="text-black text-small">Crear una cuenta</a>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
</div>