<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-5" i18n="@@detail-title">Detail of income and expenses</h4>

            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th i18n="@@detail-description">Description</th>
                    <th i18n="@@detail-amount">Amount</th>
                    <th i18n="@@detail-type">Type</th>
                    <th></th>
                  </tr>
                </thead>
  
                <tbody>
                  <tr *ngFor="let item of incomeExpenseList | incomeExpenseSort">
                    <td> {{ item.description }} </td>
                    <td> {{ item.amount | currency: getCurrencyCode() }} </td>
                    <td [className]="getClassName(item.type)"> {{ getTypeByCode(item.type) }} </td>
                    <td>
                      <button type="button" class="btn btn-danger" (click)="deleteItem(item)"><i class="fa fa-trash mr-0"></i></button>
                    </td>
                  </tr>
                </tbody>
  
              </table>
            </div>


          </div>
        </div>
    </div>
</div>
