<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add an Income or Expense</h4>
        <p class="card-description">
          Specify type, description and amount
        </p>

        <form class="mt-4" [formGroup]="incomeExpenseForm" (ngSubmit)="addIncomeExpense()">
          <div class="form-group">
            <label>Type</label>
            <br>
            <input type="radio" class="btn-check" formControlName="type" [value]="incomeExpenseType.income"
              id="incomeExpenseType-income" name="type" autocomplete="off">
            <label class="btn btn-outline-primary btn-lg mr-2" for="incomeExpenseType-income">Income</label>
            <input type="radio" class="btn-check" formControlName="type" [value]="incomeExpenseType.expense"
              id="incomeExpenseType-expense" name="type" autocomplete="off">
            <label class="btn btn-outline-danger btn-lg" for="incomeExpenseType-expense">Expense</label>
          </div>

          <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" formControlName="description" placeholder="Description">
          </div>

          <div class="form-group mb-5">
            <label>Monto</label>
            <input type="text" class="form-control" formControlName="amount" placeholder="Amount">
            <p>
              It should be a positive amount
            </p>
          </div>

          <hr>
          <button type="submit" class="btn btn-success mr-2" *ngIf="!isLoading; else loading"
            [disabled]="incomeExpenseForm.invalid">
            Add
          </button>
          <ng-template #loading>
            <button disabled type="button" class="btn btn-success mr-2"><i
                class="fa fa-spinner fa-spin"></i>Loading</button>
          </ng-template>
          <button type="reset" class="btn btn-light" routerLink="['/']">Cancel</button>

        </form>
      </div>
    </div>
  </div>
</div>