<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Agregar un Ingreso ó Egreso</h4>
        <p class="card-description">
          Especifique el tipo, la descripción y el monto
        </p>

        <form class="mt-4" [formGroup]="incomeExpenseForm" (ngSubmit)="addIncomeExpense()">
          <div class="form-group">
            <label>Tipo</label>
            <br>
            <input type="radio" class="btn-check" formControlName="type" [value]="incomeExpenseType.income"
              id="incomeExpenseType-income" name="type" autocomplete="off">
            <label class="btn btn-outline-primary btn-lg mr-2" for="incomeExpenseType-income">Ingreso</label>
            <input type="radio" class="btn-check" formControlName="type" [value]="incomeExpenseType.expense"
              id="incomeExpenseType-expense" name="type" autocomplete="off">
            <label class="btn btn-outline-danger btn-lg" for="incomeExpenseType-expense">Egreso</label>
          </div>

          <div class="form-group">
            <label>Descripción</label>
            <input type="text" class="form-control" formControlName="description" placeholder="Descripción">
          </div>

          <div class="form-group mb-5">
            <label>Monto</label>
            <input type="text" class="form-control" formControlName="amount" placeholder="Monto">
            <p>
              Debe de ser un monto positivo
            </p>
          </div>

          <hr>
          <button type="submit" class="btn btn-success mr-2" *ngIf="!isLoading; else loading"
            [disabled]="incomeExpenseForm.invalid">
            Agregar
          </button>
          <ng-template #loading>
            <button disabled type="button" class="btn btn-success mr-2"><i
                class="fa fa-spinner fa-spin"></i>Espere</button>
          </ng-template>
          <button type="reset" class="btn btn-light" routerLink="['/']">Cancelar</button>

        </form>
      </div>
    </div>
  </div>
</div>