.card-statistics-chart .card-body {
  display: flex;
  flex-direction: column;

  .chart-container {
    display: flex;
    justify-content: center;

    .chart-block {
      display: block;
      max-width: 500px;
    }
  }
}

@media (max-width: 991px) {
  .first-section {
    gap: 24px;
  }
  .card-statistics-chart .card-body .chart-container .chart-block {
   max-width: 180px;
  }
}